@import "tailwindcss";

@theme {
  --color-primary: #d946ef; /* Fuchsia 500 - Sesuai screenshot */
  --color-primary-dark: #c026d3; /* Fuchsia 600 */
  --color-secondary: #4a044e; /* Fuchsia 950 */
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer utilities {
  /* ... utility lain ... */
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1f2937;
  overflow-x: hidden;
}